<h2>Import Data</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Select File </label>
        <input type="file" name="File" />
    </div>
    <br/>
    <button type="submit">Import</button>
</form>